{% extends 'layout.html' %}

{% block content %}

<!-- FIXME: url_forを追加する -->
<form method="post" class="form">
    <div class="input-container">
        <label for="holi_date">祝日 日付</label>
        <input type="date" class="form-control" id="holi_date" name="holi_date">
    </div>
    <div class="input-container">
        <label for="holi_text">祝日 テキスト</label>
        <input type="text" class="form-control" id="holi_text" name="holi_text">
    </div>
    <button type="submit" class="btn btn-primary">新規登録・更新</button>
    <!-- FIXME: 削除ボタンを追加する -->
    <!-- <button type="submit" class="btn btn-primary">削除</button> -->
</form>

<button class="btn btn-primary">
    <a href="{{ url_for('show_list') }}">一覧出力</a>
</button>

{% endblock  %}

{% block style %}

<style>
    a {
        color: white;
    }

    .input-container {
        margin-bottom: 20px;
    }

    .form {
        margin-block: 32px;
    }
</style>

{% endblock  %}