{%extends"layout.html"%}
{%block body%}
<form action="{{ url_for('value_check') }}" method=post>
    <div class="form-group">
        <label for="InputTitle">給与</label>
        <input type="text" class="form-control" id="InputTitle" name=inputsalary value="{{value}}">
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{message}}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">計算</button>
 
</form>
{%endblock%}